@font-face {
    font-family: 'gamefont';
    src: url('font/gamefont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gamefont_big';
    src: url('font/gamefont_big.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'gamefont_big';
}

h1,
h2,
h3 {
    font-family: 'gamefont';
}